<a href="https://colab.research.google.com/github/ArkaBhowmik-666-Lucifer/Data-Mining-and-Warehousing/blob/main/Apiriori_Algorithm_Type1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install apyori

Collecting apyori
  Downloading apyori-1.1.2.tar.gz (8.6 kB)
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py) ... done
  Created wheel for apyori: filename=apyori-1.1.2-py3-none-any.whl size=5974 sha256=f85f2caadabe4a22d1a9b49fb050582b84af6c17b925314f412b710b11373b50
  Stored in directory: /root/.cache/pip/wheels/cb/f6/e1/57973c631d27efd1a2f375bd6a83b2a616c4021f24aab84080
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2

In [2]:
import pandas as pd
import numpy as np
from apyori import apriori

In [3]:
store_data=pd.read_csv("/content/drive/MyDrive/DWDM/Dataset_1.csv")

In [5]:
store_data

    Milk  Bread Unnamed: 2 Unnamed: 3
0    NaN    NaN        NaN       Beer
1   Milk  Bread     Butter        NaN
2    NaN  Bread        NaN        NaN
3    NaN  Bread     Butter        NaN
4   Milk    NaN        NaN        NaN
5    NaN  Bread     Butter       Beer
6   Milk  Bread     Butter       Beer
7    NaN  Bread        NaN       Beer
8   Milk  Bread        NaN        NaN
9   Milk    NaN        NaN        NaN
10   NaN    NaN        NaN       Beer
11  Milk  Bread     Butter        NaN
12  Milk    NaN     Butter        NaN
13  Milk  Bread     Butter       Beer

In [6]:
store_data.head(5)

   Milk  Bread Unnamed: 2 Unnamed: 3
0   NaN    NaN        NaN       Beer
1  Milk  Bread     Butter        NaN
2   NaN  Bread        NaN        NaN
3   NaN  Bread     Butter        NaN
4  Milk    NaN        NaN        NaN

In [8]:
store_data.shape

(14, 4)

In [9]:
record=[]
for i in range(0,14):
  record.append([str(store_data.values[i,j])for j in range(0,4)])

In [10]:
association_rules=apriori(record,min_support=0.26,min_confidence=0.67,min_lift=1.4,min_length=2)
association_results=list(association_rules)

In [11]:
print(len(association_results))

1

In [12]:
print(association_results)

[RelationRecord(items=frozenset({'Butter', 'Milk', 'Bread'}), support=0.2857142857142857, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Milk', 'Bread'}), items_add=frozenset({'Butter'}), confidence=0.7999999999999999, lift=1.5999999999999999)])]